.nav-bar{
	position: fixed;
    width: 100%;
    height: 42px;
	top: 0px;
	background-color: #fff;
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    box-sizing: border-box;
}

.left-elements{
	position: absolute;
    box-sizing: border-box;
	left: 0;
	right: 70%;
    height: 100%;
    padding-left: 30px;
    padding-top: 10px; 
}

.buttons-div button{
    height: 30px;
    width: 30px;
}

.left-elements a{
    font-family: helvetica, arial, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 14.25px;
}

.left-elements a:hover{
    text-decoration: underline;
}

.left-elements button{
    margin: 0 10px;
    background-color: #fff;
    border: 0;
}

.left-elements button:hover{
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.center-elements{
    box-sizing: border-box;
    position: absolute;
    height: 100%;
	left: 30%;
	right: 30%;
    text-align: center;
    padding-top: 10px; 
}

.center-elements img{
    height: 25px;
}

.right-elements{
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    right: 0;
    left: 70%;
    text-align: right;
    padding-right: 30px;
    padding-top: 2px;
}

.right-elements button{
    height: 35px;
    font-size: 12px;
    color: #fff;
    font-weight: bolder;
    background-color: rgb(98,136,165);
    border-style: solid;
    border: 1px;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.right-elements button:hover{
    background-color: rgb(50,104,145);
}

.top-section{
    margin: 42px auto;
    width: 1200px;
    box-sizing: border-box;
}

.main-image img{
    width: 1200px;
}

.title{
    height: 96px;
    width: 75%;
    display: inline-block;
    margin-left: 25%;
    margin-top: 40px;
    margin-bottom: 30px;
    box-sizing: border-box;

}

.title h1{
    font-family: georgia,'times new roman',times,serif;
    font-weight: 500;
    font-size: 2.5rem;
    font-style: italic;
    line-height: 1.2;
}

.img-description{
    margin: 10px 0;
    line-height: 1.25rem;
}

.img-description p{
    color: #666;
}

.img-description span{
    color: grey;
}

.main-upper-section{
    width: 1200px;
    margin: 0 auto;
}

.main-upper-division{
    width: 600px;
    margin-left: 300px;
}

.date-and-icons{
    height: 34px;
    width: 100%;
}

.date-div{
    display: inline-block;
    position: relative;
    width: 49%;
    left: 0px;
}

.buttons-div{
    display: inline-block;
    position: relative;
    width: 50%;
    right: 0px;
    text-align: right;
    margin-left: auto;
    margin-right: 0;

}

.btn-style1{
    padding: 5px;
    border-radius: 50%;
    background-color: #eeeeee;
    border-style: solid;
    border: 1px;
}

.btn-style2{
    background-color: white;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.btn-style2 i{
    font-size: 20px;
}

.author-div h4{
    font-size: 15px;
    font-family: helvetica, arial, sans-serif;
    letter-spacing: 0.02em;
    color: black;
    text-decoration-color: #ccc;
}

.author-div a{
    font-size: 15px;
    font-family: helvetica, arial, sans-serif;
    letter-spacing: 0.02em;
    color: black;
    text-decoration-color: #ccc;
}

.author-div a:hover{
    text-decoration: none;
}

.date-div p{
    font-size: 14px;
    font-family: helvetica, arial, sans-serif;
    letter-spacing: 0.02em;
}

.text{
    font-family: georgia, "times new roman", serif;
    line-height: 30px;
    font-size: 20px;
}

.text p{
    margin: 15px 0;
    color: #333333;
}

.main-section-grid{
    width: 945px;
    height: 575px;
    margin: 0 auto;
    box-sizing: border-box;
}

h3{
    margin-bottom: 5px;
}

.grid-image{
   margin-top: 10px;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   line-height: 17px;
   
}

.grid-image img{
    width: 100%;
}

.grid-element{
    width: 216px;
    display: inline-block;
    position: relative;
    top: 0;
    box-sizing: border-box;
    text-align: justify;
}

b{
    font-weight: 700;
    display: inline;
}

.element-2, .element-3, .element-4{
    margin-left: 21px;
}

.row-1 .element-3{
    position: relative;
    top: -16px;
}

.row-2 .element-2{
    position: relative;
    top: 16px;
}